# Logs
logs
*.log

# Environment variables
.env

# Runtime data
pids
*.pid
*.seed

# Coverage directory used by tools like istanbul
coverage
.eslintcache

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

# OSX
.DS_Store

# Build Files
.webpack

release/app/dist
release/build
release/build-setapp
assets/setappPublicKey.pem
.erb/dll

.idea
npm-debug.log.*
*.css.d.ts
*.sass.d.ts
*.scss.d.ts

.erb/dll/*
.erb/dll/renderer.dev.dll.js
.erb/dll/renderer.json
components/desktop-app/.erb/dll/renderer.dev.dll.js
components/desktop-app/.erb/dll/renderer.json
